<main>
    <div class="container">
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="../assets/images/happy-family-lying-in-a-row.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="images/running.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="images/biking.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="images/dr1.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="images/HikingPkg.jpg"></a>
        </div>
    </div>
</main>
