<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- jQuery -->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <title>Vitals</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <h2> Some Stuff </h2>

  </body>
</html>
