<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Materialize -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <!-- Scripts -->
    <script src="/js/index.js">
    </script>

    <title>Vitals</title>
</head>
<header>
    <nav>
        <div class="col s8 amber lighten-2 nav-wrapper">
            <div class="col s8 container">
                <a href="" class="brand-logo">Vitals</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/login">Log In </a></li>
                    <li><a href="">Sign Up</a></li>
                    <li><a class='col s6 offset-4 dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Menu</a>
                        <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="login.hbs">Dr</a></li>
                            <li><a href="login.hbs">Calender</a></li>
                            <li><a href="login.hbs">BMI</a></li>
                            <li><a href="logout.hbs">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <main>
        <div class="container">
            <div class="carousel">
                <a class="carousel-item" href="#one!"><img src="../assets/images/happy-family-lying-in-a-row.jpg"></a>
                <a class="carousel-item" href="#two!"><img src="../assets/images/running.jpg"></a>
                <a class="carousel-item" href="#three!"><img src="../assets/images/biking.jpg"></a>
                <a class="carousel-item" href="#four!"><img src="../assets/images/dr1.jpg"></a>
                <a class="carousel-item" href="#five!"><img src="../assets/images/HikingPkg.jpg"></a>
                <a class="carousel-item" href="#six!"><img src="../assets/images/8.2.jpg"></a>
            </div>
        </div>
    </main>
    <h1>{{title}}</h1>
    <h2> Some Stuff </h2>
    <img src="../assets/images/happy-family-lying-in-a-row.jpg">


    <footer class="amber lighten-2 page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2014 Vitals Development Group
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>

    </footer>
</body>

        </div>
    </footer>
</body>






</html>
