<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- bootstrap cdn -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="/js/index.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>




    <title>Style Guide</title>
</head>

<body>

        <nav class="navbar navbar-light">
            <div class="container-fluid" style="font-family: 'Pacifico', cursive; font-size:24px;">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">


  <!-- <div class="container-fluid"> -->
  <nav class="navbar navbar-light">
    <div class="container-fluid" style="font-family: 'Pacifico', cursive; font-size:24px;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>
        <a class="navbar-brand" style="font-size: 42px;" href="/index">Vitals</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="/testimonials">Testimonials<span class="sr-only"></span></a></li>
          <li class=""><a href="/signup">Sign Up!<span class="sr-only"></span></a></li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <form id="logInForm" class="navbar-form navbar-right" role="search">
           <div class="form-group">
               <input id="loginEmail" type="email" class="form-control" name="username" placeholder="email">
           </div>
           <div class="form-group">
               <input id="loginPassword" type="password" class="form-control" name="password" placeholder="Password">
           </div>
           <button type="submit" class="btn btn-default">Log In</button>


       </form>


        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <hr class="style17 nav">
  <br>
  <br>
  <!-- MAIN CONTENT -->
  <div class="fill caro">
      <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active one">
      <img  src="/images/happy-family-lying-in-a-row.jpg" alt="family" style="width:100%; height:100%;">

      <div class="container">
					<div class="carousel-caption">
						<h3>Ever get frustrated looking through all your records of your doctors appointments to figure out what the doctor recommended? Vitals will stop that frustration!</h3>
					</div>
				</div>
    </div>

    <div class="item two">
      <img src="/images/biking.jpg" alt="biking" style="width:100%;height:100%">
      <div class="container">
					<div class="carousel-caption">
						<h1>Keep a log of all your doctors appointments!</h1>
					</div>
				</div>
    </div>

    <div class="item three">
      <img src="/images/HikingPkg.jpg" alt="hiking" style="width:100%;height:100%">
      <div class="container">
					<div class="carousel-caption">
						<h1>Record your weight and height and calculate your BMI!</h1>
					</div>
				</div>
    </div>

    <div class="item four">
      <img src="/images/dr1.jpg" alt="Flower" style="width:100%;height:100%">
      <div class="container">
					<div class="carousel-caption">
						<h1>Keep track of your future appointments with our calendar app!</h1>
					</div>
				</div>
    </div>

    <div class="item five">
      <img src="/images/running.jpg" alt="running" style="width:100%;height:100%">
      <div class="container">
					<div class="carousel-caption">
						<h1>Keep track of all your prescriptions!</h1>
					</div>
				</div>
    </div>

    <div class="item six">
      <img src="/images/8.2.jpg" alt="dentist" style="width:100%;height:100%">
      <div class="container">
					<div class="carousel-caption">
						<h1>Check out the testimonials!</h1>
					</div>
				</div>
    </div>


  </div>



  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>






                <!-- <h4> doctors page </h4>
                <br>
                <div class="row">
                    <div class="col-sm-6 col-md-4 ">
                        <div class="thumbnail">
                            <img src="http://www.chelseafootballshirts.org.uk/wp-content/uploads/2016/02/1450171356-apolo.jpg" alt="...">
                            <div class="caption">
                                <h3>General Practitioner</h3>

                                <button class="bttn-unite bttn-md bttn-primary">Add Notes</button>
                                <button class="bttn-unite bttn-md bttn-primary">Calendar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="http://www.refluxmd.com/wp-content/uploads/2012/12/GERD-pathology-lab-results.jpg" alt="...">
                            <div class="caption">
                                <h3>Pathologist</h3>
                                <button class="bttn-unite bttn-md bttn-primary">Add Notes</button>
                                <button class="bttn-unite bttn-md bttn-primary">Calendar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="https://vcaredentalclinic.files.wordpress.com/2014/10/url.jpg" alt="...">
                            <div class="caption">
                                <h3>Dentist</h3>
                                <button class="bttn-unite bttn-md bttn-primary">Add Notes</button>
                                <button class="bttn-unite bttn-md bttn-primary">Calendar</button>
                            </div>
                        </div>
                    </div>
                </div> -->
<br><br>
                <div class="aboutpage">
                    <div class="container-fluid bg-3 text-center">
                        <h2>Vitals Development Group</h2>

                        <hr size=7>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="name">Lauren, CEO</p>
                                <img src="/images/Lauren.jpg" width=60% height=50% alt="Lauren">
                                <p>Author, general knowledge practitioner, project mgmt</p>
                            </div>
                            <div class="col-sm-3">
                                <p class="name">John, CIO</p>
                                <img src="/images/John.jpg" width=60% height=50% alt="Image">
                                <p>Information Specialist, refactorer
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <p class="name">Del</p>
                                <img src="/images/Del.jpg" width=60% height=50% alt="Image">
                                <p>Aesthetic Intuist, Front End Mannager</p>
                            </div>
                            <div class="col-sm-3">
                                <p class="name">Gee</p>
                                <img src="/images/Gee.jpg" width=60% height=50% alt="Image">
                                <p>Sales and Resident </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr size=7><br>
                    <div class="row">
                        <img src="/images/html-logo.png" width="200" height="200" alt="html">
                        <img src="/images/services-bootstrap.gif" width="400" height="200" alt="bootstrap">
                        <img src="/images/pgsql-icon.png" width="200" height="200" alt="html">
                        <img src="/images/knex.png" width="300" height="200" alt="html">
                        <img src="/images/CSS-Logo.png" width="300" height="200" alt="html">
                    </div>
                </div>
                <br>
            </div>
</div>

            </div>
            <br>
            <hr class="style18 nav">

                        <!-- <div class="container-fluid"> -->
<footer>
                        <div class="container-fluid" style=" font-family: 'Pacifico', cursive; font-size:24px;">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">

                                <a class="navbar-brand" style="font-size: 22px;" href="/index">© 2017 Vitals Development Group</a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class=""><a href="/testimonials">Testimonials<span class="sr-only"></span></a></li>
                                    <li class=""><a href="/login">Sign Up!<span class="sr-only"></span></a></li>


                                </ul>








                            </div>
                            <!-- /.navbar-collapse -->
</footer>

</body>

</html>
