<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- jQuery -->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css?family=Pacifico|Droid+Sans" rel="stylesheet">

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
<body class = "signup">
  <nav class="amber lighten-2" role="navigation">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <span class="logo-text scriptFont">Vitals</span>
      </a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/index.html">Home</a></li>
        <li class="firstNavItem"></li>
        <li class="secondNavItem"></li>
      </ul>
  </nav>
</div>

<div id="index-banner" class="login_container">
      <div id="container" class="container">

</div>
        <div class="row">
          <!-- <div class = "row"> -->
          <div class="container left">
          <div class="wrapped-container">
            <div class = "col s12 m12 l12">
          <h2 class="white-text signFont">Sign In</h2>
          <h5 class="scriptFont2 white-text">Please Enter Your Login Info</h5>
        </div>
      </div>
          </div>
          <!-- </div> -->
          <div class="wrapped-container">
          <form id="signUpForm" class="col s4 m4 offset-s8">
            <div class="card">
              <div class="card-content">

                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="Email" id="loginEmail" type="text" class="validate">
                    <label for="loginEmail">Email</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input placeholder="Password" id="loginPassword" type="text" class="validate">
                    <label for="loginPassword">Password</label>
                  </div>
                </div>

              </div>

              <div class="card-action center">
                <button class="amber lighten-2 waves-effect waves-light btn-large" type="submit" name="action" id="signUp">
                  Sign up
                </button>
              </div>
            </div>
          </form>
        </div>
        </div>
      </div>
    <footer class="amber lighten-2 page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s6">
                        <h5 class="white-text scriptFont">Vitals</h5>
                    </div>
                    <div class="col l4 offset-l2 s6">
                        <ul>
                            <li><a class="grey-text text-lighten-3 right scriptFont2" href="index.html">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    © 2017 Vitals
                </div>
            </div>
        </footer>
  </body>
  <script src="../public/js/login.js"></script>
</html>
