<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notes</title>
  </head>
  <body>
    <h1>Notes</h1>

    {{#each notes}}
    <h1>
    {{this.body}}
  </h1>
  {{/each}}




  </body>
</html>
