<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Record</title>
  </head>
  <body>
    <form id="addRecordForm" method="post">
      <input id="recordName" type="text" name="name" placeholder="Enter a name">
      <br>
      <input id="recordDocName" type="text" name="docName" placeholder="Enter your doctor's name">
      <br>
      <input id="recordPicture" type="text" name="picture" placeholder="Enter a URL">
      <br>
      <button id="addRecordButton" type="submit">Submit</button>
    </form>
  </body>
</html>
