<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- bootstrap cdn -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Palanquin+Dark" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/stylesheets/style.css">



    <title>Style Guide</title>
</head>

<body>
  <header>
    <div class="container headClass">
      <div class="row">
        <div class="col-md-6">
          <a href="#" class="logo"><img  class="ricky" src="/images/logo1.png" width =30% height=15% alt="Third slide"></a>
        </div>
        <div class="col-md-6 text-right">

          <div class="nav navbar-nav navbar-right">
     <button type="submit"  id="logoutButton"class="btn btn-default" style="font-family: 'Palanquin Dark', sans-serif;">Log Out</button>
          </div>
      </div>
        </div>
      </div>
    </div>
  </header>

    <h1>(NAME OF Record) Details</h1>

    <h3>Notes</h3>

    {{#each notes}}
        <h1>
    {{this.body}}
  </h1>
  <button class="deleteNoteButton" value="{{this.id}}" type="submit">Delete</button>
  <button class="editNoteButton" value="{{this.id}}" type="submit">Edit</button>
    {{/each}}

    <h1>Add a new note:</h1>
    <form>
        <textarea id="noteText" rows="4" cols="50"></textarea>
        <input id="recordId" type="hidden" name="recordId" value="{{this.recordId}}">
        <br>
        <input id="addNoteButton" type="submit" value="Submit">
    </form>

    <div class="container">

           <div class="row">

               <!-- Blog Post Content Column -->
               <div class="col-lg-8">

                   <!-- Blog Post -->

                   <!-- Title -->
                   <h1>Blog Post Title</h1>

                   <!-- Author -->
                   <p class="lead">
                       by <a href="#">Start Bootstrap</a>
                   </p>

                   <hr>

                   <!-- Date/Time -->
                   <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>

                   <hr>

                   <!-- Preview Image -->
                   <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                   <hr>

                   <!-- Post Content -->
                   <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

                   <hr>

                   <!-- Blog Comments -->

                   <!-- Comments Form -->
                   <div class="well">
                       <h4>Leave a Comment:</h4>
                       <form role="form">
                           <div class="form-group">
                               <textarea class="form-control" rows="3"></textarea>
                           </div>
                           <button type="submit" class="btn btn-primary">Submit</button>
                       </form>
                   </div>

                   <hr>

                   <!-- Posted Comments -->

                   <!-- Comment -->
                   <div class="media">
                       <a class="pull-left" href="#">
                           <img class="media-object" src="http://placehold.it/64x64" alt="">
                       </a>
                       <div class="media-body">
                           <h4 class="media-heading">Start Bootstrap
                               <small>August 25, 2014 at 9:30 PM</small>
                           </h4>
                           Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                       </div>
                   </div>

                   <!-- Comment -->
                   <div class="media">
                       <a class="pull-left" href="#">
                           <img class="media-object" src="http://placehold.it/64x64" alt="">
                       </a>
                       <div class="media-body">
                           <h4 class="media-heading">Start Bootstrap
                               <small>August 25, 2014 at 9:30 PM</small>
                           </h4>
                           Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                           <!-- Nested Comment -->
                           <div class="media">
                               <a class="pull-left" href="#">
                                   <img class="media-object" src="http://placehold.it/64x64" alt="">
                               </a>
                               <div class="media-body">
                                   <h4 class="media-heading">Nested Start Bootstrap
                                       <small>August 25, 2014 at 9:30 PM</small>
                                   </h4>
                                   Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                               </div>
                           </div>
                           <!-- End Nested Comment -->
                       </div>
                   </div>

               </div>


           </div>


    <footer>
      <div class="wrap-footer">
        <div class="container">
          <!-- <div class="row"> -->

          <ul>
            <li><a href="/about.html">Development Team</a></li>
            <li><h7>Privacy</h7></li>
            <li><h7>Legal</h7></li>
            <li><h7>© 2017 Vitals Development Group</h7></li>


          </ul>

            <!-- </div>
          </div> -->
        </div>
      </div>
    </footer>
    </body>

</html>
