<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/notes.js">

    </script>

    <title>Record Details</title>
</head>

<body>
    <h1>Record Details</h1>

    <h3>Notes</h3>

    {{#each notes}}
        <h1>
    {{this.body}}
  </h1>
    {{/each}}

    <h1>Add a new note:</h1>
    <form>
        <textarea id="noteText" rows="4" cols="50"></textarea>
        <input id="recordId" type="hidden" name="recordId" value="{{this.recordId}}">
        <input id="addNoteButton" type="submit" value="Submit">
    </form>


</body>

</html>
