<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- bootstrap cdn -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- JS -->
    <script type="text/javascript" src="/js/signout.js">
    </script>
    <script type="text/javascript" src="/js/records.js">
    </script>
    <script type="text/javascript" src="/js/recordAdd.js">
    </script>

    <link rel="icon" href="/favicon.png" type="image/png" sizes="500x500">

    <title>Add Record</title>
</head>

<body>

    <header>
        <div class="container headClass">
            <div class="row">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/records" class="logo"><img class="ricky" src="/images/logo1.png" width=30% height=15% alt="Third slide"></a>
                    </div>

                    <div class="col-md-6 text-right">
                        <div class="nav navbar-nav navbar-right">
                            <div class="nav navbar-nav navbar-right">
                                <button type="submit" id="logoutButton" class="btn btn-primary" style="font-family: 'Palanquin Dark', sans-serif;">Log Out</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <h1 class="center">Add A New Record</h1>
    <br>
    <div class="container center">
        <form id="addRecordForm" class="right" method="post">

            <div class="form-group row">
                <label for="exampleSelect1" class="col-sm-1 col-xs-10 col-form-label">Name</label>
                <div class="col-sm-4">
                    <select class="form-control" id="recordName" required>
                  <option>Cardiologist</option>
                  <option>Dentist</option>
                  <option>General Practitioner</option>
                  <option>Gynecologist</option>
                  <option>Optometrist</option>
                  <option>Orthodontist</option>
                  <option>Pathologist</option>
                  <option>Pediatrician</option>
                  <option>Prescriptions</option>
                  <option>Test Results</option>
                  <option>Urologist</option>
                </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doctor" class="col-sm-1 col-xs-10 col-form-label">Doctor's Name</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" placeholder="Doctor name (optional)" id="recordDocName" optional>
                </div>
            </div>

            <button id="addRecordButton" class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    
    <footer>
        <div class="wrap-footer recFoot">
            <div class="container">
                <!-- <div class="row"> -->

                <ul>
                    <li><a href="/about">Development Team</a></li>
                    <li>
                        <h7>© 2017 Vitals Development Group</h7>
                    </li>
                </ul>

                <!-- </div>
        </div> -->
            </div>
        </div>
    </footer>
</body>

</html>
