

.jumbotron {
  background-size: cover;
  margin: auto;
}
.signup {
  background-image: url('../images/morning_workout.jpg');
  background-size:cover;
  height: 700px;
  background-position: left;
}
.header {
  font-family: 'Lato', sans-serif;
}
.btn-primary {
  border-radius: 24px;
  box-shadow: 0 3px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.navbar-custom { margin : 0};
