.panel-footer.panel-custom{
  background-color: rgb(238, 237, 72);
}
.name{
  font-size: 20px;
}
.thumbnail{
  height:250px
}
.pict{
  height: 200px;
  width: 200px;
}
.helm{
  background: url('..public/images/blood.jpg');
}
